<h3>Orçamento</h3>
<form [formGroup]="form">
  <nb-card>
    <nb-card-header>Cliente</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <bsc-cliente-auto-complete [formControl]="form.controls.cliente" (onSelect)="onSelectCliente($event)">
          </bsc-cliente-auto-complete>
        </div>
        <div class="col-12">
          <label for="endereco">Endereço</label>
          <input type="text" class="form-control" id="endereco" formControlName="endereco">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>Selecionar Produtos</nb-card-header>
    <nb-card-body>
      <form [formGroup]="formProduto">
        <div class="row">
          <div class="col-6">
            <bsc-produto-auto-complete [formControl]="formProduto.controls.produto"
              (onSelect)="onSelectProduto($event)">
            </bsc-produto-auto-complete>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <label for="quantidade">Quantidade</label>
              <input type="number" class="form-control" id="quantidade" placeholder="Quantidade"
                formControlName="quantidade">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label for="vlrUnitario">Valor Unitário</label>
              <input type="text" class="form-control" id="vlrUnitario" placeholder="Valor Unitário"
                formControlName="vlrUnitario">
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary no-label" (click)="adicionarProduto()"
              [disabled]="!formProduto.valid">Adicionar</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>Orçamento</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="itens" (deleteConfirm)="onDeleteConfirm($event)"
        (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col">
          <div class="col-4 input-group mb-3" style="float: right">
            <div class="input-group-prepend">
              <span class="input-group-text">Valor Total</span>
            </div>
            <input type="text" class="form-control" formControlName="vlrTotal">
          </div>
        </div>
      </div>

    </nb-card-footer>
  </nb-card>
</form>

<button type="button" class="btn btn-primary" (click)="salvar()"
  [disabled]="!form.valid || itens.length === 0">Salvar</button>

<button type="button" class="btn btn-primary" (click)="print()">Print</button>