<h3>Orçamentos</h3>
<nb-card>
  <nb-card-header>Cliente</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="numOrcamento">Nº Orçamento</label>
            <input type="number" class="form-control" id="numOrcamento" formControlName="numOrcamento">
          </div>
        </div>
        <div class="col-10">
          <bsc-cliente-auto-complete [formControl]="form.controls.cliente" (onSelect)="onSelectCliente($event)">
          </bsc-cliente-auto-complete>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
    <button type="button" class="btn btn-warning" (click)="reset()">Limpar</button>
  </nb-card-footer>
</nb-card>

<nb-card>
  <nb-card-header>Orçamento</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="orcamentos" (deleteConfirm)="onDeleteConfirm($event)"
      (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>