<h3>Orçamentos</h3>
<nb-card>
  <nb-card-header>Cliente</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="numOrcamento">Nº Orçamento</label>
            <input type="number" class="form-control" id="numOrcamento" formControlName="numOrcamento">
          </div>
        </div>
        <div class="col-7">
          <bsc-cliente-auto-complete formControlName="cliente">
          </bsc-cliente-auto-complete>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="situacao">Situação</label>
            <select id="situacao" class="form-control" formControlName="situacao">
              <option *ngFor="let situacao of situacoes" value={{situacao}}>
                {{ situacao }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
    <button type="button" class="btn btn-warning" (click)="reset()">Limpar</button>
  </nb-card-footer>
</nb-card>

<nb-card>
  <nb-card-header>Orçamento</nb-card-header>
  <nb-card-body>
    <ngx-datatable class="bootstrap " [rows]="orcamentos" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
    </ngx-datatable>
  </nb-card-body>
</nb-card>

<ng-template #vlrTmpl let-row="row" let-value="value">
  {{ value | currency: 'BRL':'' }}
</ng-template>

<ng-template #dateTmpl let-row="row" let-value="value">
  {{ value | date: 'dd/MM/yyyy' }}
</ng-template>

<ng-template #acoesTmpl let-row="row" let-value="value">
  <button type="button" class="btn btn-warning btn-sm" (click)="imprimir(value)">
    <span class="fas fa-print"></span>
  </button>
  <button type="button" class="btn btn-warning btn-sm" (click)="editar(value)">
    <span class="fas fa-dollar-sign"></span>
  </button>
</ng-template>