<h3>Cliente</h3>
<nb-card>
  <nb-card-header>Dados Básicos</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="codigo">Código</label>
            <input type="number" class="form-control" id="codigo" formControlName="codigo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="documento">CPF/CNPJ</label>
            <input type="text" class="form-control" id="documento" formControlName="documento">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Endereço de Cobrança</nb-card-header>
  <nb-card-body>
    <form [formGroup]="formEnderecoCobranca">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="cepCobranca">Cep</label>
            <input type="text" class="form-control" id="cepCobranca" formControlName="cepCobranca">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <div class="form-group">
            <label for="logradouroCobranca">Logradouro</label>
            <input type="text" class="form-control" id="logradouroCobranca" formControlName="logradouroCobranca">
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="form-group">
            <label for="numeroCobranca">Número</label>
            <input type="text" class="form-control" id="numeroCobranca" formControlName="numeroCobranca">
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="form-group">
            <label for="complementoCobranca">Complemento</label>
            <input type="text" class="form-control" id="complementoCobranca" formControlName="complementoCobranca"
              placeholder="Apto 1 - Casa 2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="cidadeCobranca">Cidade</label>
            <input type="text" class="form-control" id="cidadeCobranca" formControlName="cidadeCobranca">
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="estadoCobranca">Estado</label>
            <input type="text" class="form-control" id="estadoCobranca" formControlName="estadoCobranca">
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="bairroCobranca">Bairro</label>
            <input type="text" class="form-control" id="bairroCobranca" formControlName="bairroCobranca">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="row">
    <div class="col-6" style="margin-top: 10px">
      Endereço de Entrega
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-info btn-sm" style="float: right;" 
      (click)="copiarEndereco()">Copiar Endereço de Cobrança</button>
    </div></div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formEnderecoEntrega">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="cepEntrega">Cep</label>
            <input type="text" class="form-control" id="cepEntrega" formControlName="cepEntrega">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <div class="form-group">
            <label for="logradouroEntrega">Logradouro</label>

            <input type="text" class="form-control" id="logradouroEntrega" formControlName="logradouroEntrega">
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="form-group">
            <label for="numeroEntrega">Número</label>
            <input type="text" class="form-control" id="numeroEntrega" formControlName="numeroEntrega">
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="form-group">
            <label for="complementoEntrega">Complemento</label>
            <input type="text" class="form-control" id="complementoEntrega" formControlName="complementoEntrega"
              placeholder="Apto 1 - Casa 2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="cidadeEntrega">Cidade</label>
            <input type="text" class="form-control" id="cidadeEntrega" formControlName="cidadeEntrega">
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="estadoEntrega">Estado</label>
            <input type="text" class="form-control" id="estadoEntrega" formControlName="estadoEntrega">
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group">
            <label for="bairroEntrega">Bairro</label>
            <input type="text" class="form-control" id="bairroEntrega" formControlName="bairroEntrega">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<button type="button" class="btn btn-primary" (click)="salvar()" [disabled]="!form.valid">Salvar</button>
<button type="button" class="btn btn-warning" (click)="reset()">Cancelar</button>